
<form action="" method="post">
    <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>