@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (TempData["Msg"] != null)
{
    
    <span class="alert alert-@TempData["Class"]">@TempData["Msg"]</span>
}
<h2>Login</h2>
<form method="post">
    <input type="text" name="Uname"  placeholder="Username" class="form-control" />
    
    <input type="password" name="Pass" placeholder="Password" class="form-control" />
    
<input type="submit" value="Login" class="btn btn-primary" />
</form>