
@{
    ViewData["Title"] = "Login";
}

@Html.ValidationSummary()

@if (TempData["Msg"] != null)

{
    <span class="text-success">@TempData["Msg"]</span>    
}

<h1>Login</h1>
<form method="post" action="">
    <input type="text" name="Uname" placeholder="Username" class="form-control" />
    <input type="password" name="Pass" placeholder="Password" class="form-control" />
    <input type="submit" class="btn btn-primary" value="Login" />

</form>

