
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form method="post">
    <input type="text" name="Name" placeholder="Name" class="form-control" />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

